h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color:aquamarine;
    text-align: center;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #6ede88;
    text-align: center;
}

p {
    color: #6ede88;
    font-family:Arial, Helvetica, sans-serif;
}

/*Contains courses*/
.relevant_courses{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}

/*Contains name and description*/
.course{
    flex: 1;
    min-width: 35%;
    margin: 0 10px;
}

.left-course {
    padding-left: 0px;
}

.right-course {
    padding-left: 225px;
}


/*Course title*/
.course_name{
    font-size: 1.3rem;
    font-weight: bold;
}

/*Blurb about course requirements and topics covered*/
.course_description{
    font-size:1.1rem;
}

.location {
    font-size: 1.5rem;
}