body {
    background-image: linear-gradient(90deg, #182e57 0%, #1b3566 60%, #2b529c 100%);
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4rem;
    font-weight: lighter;
    color: aquamarine;
    text-align: center;
}

/*Button to return to main page*/
.back-button{
    position: absolute;
    top: 10px;
    left: 10px;
    float: left;

    background-color: transparent;
    text-align: center;
    text-decoration: none;
    border-color: #6ede88;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    margin: 5px 5px 0 10px;
}
/*Make it so that link colors don't change once they've been clicked*/
a:link{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size : 1.2rem;
    color: #6ede88;
    text-decoration: none;
    display: block;
    text-align: right;
    display: inline;
}

a:visited{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size : 1.2rem;
    color: #6ede88;
    text-decoration: none;
    display:block;
    text-align: right;
}

/*One of two types of buttons and its corresponding effects*/
.standard-button{
    font-size:1.2rem;
    text-align: center;
    color:#6ede88;
    text-decoration: none;
    display: inline-block;
    border-color: #6ede88;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    border-radius: 4px;
    margin: 5px 5px 0 10px;
}

/*Stops being transparent and becomes green*/
.standard-button:hover{
    background-color: #6ede88;
    color:#152465;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/*The other type of button*/
.important_button{
    font-size:1.2rem;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-color: #6ede88;
    background-color: #6ede88;
    border-radius: 4px;
    margin: 5px 5px 0 10px;
    padding: 10px 25px;
}

/*Stops being green and becomes transparent*/
.important_button a{
    font-size: 1.2rem;
    color:#152465;
}

.important_button:hover{
    background-color: transparent;
    color:#6ede88;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.important_button:hover a{
    color:#6ede88;
}

/*Contains an image and a text blurb*/
.project{
    display:flex;
    justify-content: space-between;
}

/*text blurb*/
.description{
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}




