body {
    background-image: linear-gradient(90deg, #182e57 0%, #1b3566 60%, #2b529c 100%);
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4rem;
    font-weight: lighter;
    color: aquamarine;
    text-align: center;
}

h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color:aquamarine;
    text-align: center;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #6ede88;
    text-align: center;
}

.relevant_courses{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.course{
    flex: 1;
    min-width: 35%;
    margin: 0 10px;
}

p {
    color: #6ede88;
    font-family:Arial, Helvetica, sans-serif;
}

.course_name{
    font-size: 1.3rem;
    font-weight: bold;
}

.course_description{
    font-size:1.1rem;
}